.oid-fineprint {
    font-size: 0.7em;
    line-height: 1.2;
}

.oid-mediumprint {
    font-size: 0.9em;
    line-height: 1.1;
}

table.z-datatable td.oid-action {
    text-align: center;
    padding: 5px 0px 5px 0px;

}

#users_loginblock_select_authentication_openid_openid_submit {
    background: transparent url("../images/extrasmall/openid-icon.png") no-repeat scroll center left;
}

input#users_login_select_authentication_openid_openid_submit {
    background-image: url("../images/medium/openid-icon.png");
}

div.users_login_select_authentication_smallbutton input#users_login_select_authentication_openid_openid_submit {
    background-image: url("../images/small/openid-icon.png");
}

#users_loginblock_select_authentication_openid_google_submit {
    background-image: url("../images/extrasmall/google-favicon.png");
}

input#users_login_select_authentication_openid_google_submit {
    background-image: url("../images/medium/google-favicon.png");
}

div.users_login_select_authentication_smallbutton input#users_login_select_authentication_openid_google_submit {
    background-image: url("../images/small/google-favicon.png");
}

#users_loginblock_select_authentication_openid_pip_submit {
    background-image: url("../images/extrasmall/symantec-checkmark-only-logo.png");
}

input#users_login_select_authentication_openid_pip_submit {
    background-image: url("../images/medium/symantec-checkmark-only-logo.png");
}

div.users_login_select_authentication_smallbutton input#users_login_select_authentication_openid_pip_submit {
    background-image: url("../images/small/symantec-checkmark-only-logo.png");
}
