input#users_loginblock_loginwith_button_OpenID {
    background-image: url("../images/extrasmall/openid-icon.png");
}

input#users_loginscreen_loginwith_button_OpenID {
    background-image: url("../images/medium/openid-icon.png");
}

div.users_loginwith_smallbutton input#users_loginscreen_loginwith_button_OpenID {
    background-image: url("../images/small/openid-icon.png");
}

input#users_loginblock_loginwith_button_Google {
    background-image: url("../images/extrasmall/google-favicon.png");
}

input#users_loginscreen_loginwith_button_Google {
    background-image: url("../images/medium/google-favicon.png");
}

div.users_loginwith_smallbutton input#users_loginscreen_loginwith_button_Google {
    background-image: url("../images/small/google-favicon.png");
}

input#users_loginblock_loginwith_button_PIP {
    background-image: url("../images/extrasmall/symantec-checkmark-only-logo.png");
}

input#users_loginscreen_loginwith_button_PIP {
    background-image: url("../images/medium/symantec-checkmark-only-logo.png");
}

div.users_loginwith_smallbutton input#users_loginscreen_loginwith_button_PIP {
    background-image: url("../images/small/symantec-checkmark-only-logo.png");
}
