.oid-fineprint {
    font-size: 0.7em;
    line-height: 1.2;
}

.oid-mediumprint {
    font-size: 0.9em;
    line-height: 1.1;
}

table.z-datatable td.oid-action {
    text-align: center;
    padding: 5px 0px 5px 0px;

}

#dialog-confirm-setpassword {
    text-align: left;
}

.oid-button-row {
    margin-bottom: 10px;
}