.oid-fineprint {
    font-size: 0.7em;
    line-height: 1.2;
}

.oid-mediumprint {
    font-size: 0.9em;
    line-height: 1.1;
}

table.z-datatable td.oid-action {
    text-align: center;
    padding: 5px 0px 5px 0px;

}

#dialog-confirm-setpassword {
    text-align: left;
}

.oid-button-row {
    margin-bottom: 10px;
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_google {
    background-image: url("../images/medium/google-favicon.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_google {
    background-image: url("../images/small/google-favicon.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_google {
    background-image: url("../images/extrasmall/google-favicon.png");
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_myid {
    background-image: url("../images/medium/myid-net-icon.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_myid {
    background-image: url("../images/small/myid-net-icon.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_myid {
    background: transparent url("../images/extrasmall/myid-net-icon.png") no-repeat scroll center left;
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_myopenid {
    background-image: url("../images/medium/myopenid-icon.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_myopenid {
    background-image: url("../images/small/myopenid-icon.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_myopenid {
    background: transparent url("../images/extrasmall/myopenid-icon.png") no-repeat scroll center left;
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_openid {
    background-image: url("../images/medium/openid-icon.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_openid {
    background-image: url("../images/small/openid-icon.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_openid {
    background: transparent url("../images/extrasmall/openid-icon.png") no-repeat scroll center left;
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_pip {
    background-image: url("../images/medium/symantec-checkmark-only-logo.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_pip {
    background-image: url("../images/small/symantec-checkmark-only-logo.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_pip {
    background-image: url("../images/extrasmall/symantec-checkmark-only-logo.png");
}

div.authentication_select_method_bigbutton #authentication_select_method_submit_openid_yahoo {
    background-image: url("../images/medium/yahoo-icon.png");
}

div.authentication_select_method_smallbutton #authentication_select_method_submit_openid_yahoo {
    background-image: url("../images/small/yahoo-icon.png");
}

div#users_loginblock_authentication_method_selectors #authentication_select_method_submit_openid_yahoo {
    background-image: url("../images/extrasmall/yahoo-icon.png");
}
